.note-app-content-wrapper {
    height: 100%;
}

.page-not-found {
    height: 100%;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.note-editor {
    height: 100%;
    width: 100%;
}

.note-editor .header {
    width: 100%;
    text-align: left;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

.note-editor .header .title {
    float: left;
    font-size: 27px;
    margin-left: 20px;
    padding: 7px;
}

.note-editor .header .save {
    float: right;
}
.note-editor .loading {
    background: url("vendor/vakata-jstree/default/throbber.gif") center center no-repeat;
}

.note-editor .input {
    height: calc(100% - 75px);
    width: 100%;
}

.note-editor .input textarea {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 0;
    overflow-y: auto;
}

.note-editor .input textarea[disabled] {
    color: black;
}

.note-navigation .jstree-icon-no-edit {
    background-color: transparent;
    background-image: url("vendor/vakata-jstree/proton/32px.png");
    background-size: 320px 96px;
    background-position: -35px -68px;
    background-repeat: no-repeat;
}
.note-navigation {
overflow: hidden;
overflow-x: scroll;
overflow-y: scroll;
}
.note-app-settings {
    display: none;
}
/* Compactability fixes. Disable nextcloud/ownCloud styles, force jstree styles: */
#app-navigation.note-navigation li.jstree-node > a.jstree-anchor {
    display: inline-block;
    width: auto;
    line-height: 24px;
    min-height: 0px;
    padding: 0px;
    /*overflow: auto;*/
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    white-space: nowrap;
    text-overflow: clip;
    color: #000;
    opacity: 1;
}
#app-navigation.note-navigation input.jstree-rename-input {
    height: 20px !important;
}
